################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorWasmApi.Api/BlazorWasmApi.Api/bin/Debug/net8.0
/.vs/BlazorWasmApi/DesignTimeBuild
/.vs/BlazorWasmApi/FileContentIndex
/.vs/BlazorWasmApi/v17
