@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div class="container">
    <div class="row">
        <div class="col-md-3 mb-2" b-fbnb8auet4="">
            <a href="/ProductDetails/1" b-fbnb8auet4="">
                <div class="card" b-fbnb8auet4="">
                    <img class="img-thumbnail1" src="/Images/Beauty/Beauty1.png" b-fbnb8auet4=""><!--!-->
                    <div class="card-body" b-fbnb8auet4="">
                        <h5 class="card-title mb-3" b-fbnb8auet4="">Glossier - Beauty Kit</h5><!--!-->
                        <div class="card-text" b-fbnb8auet4=""><b b-fbnb8auet4="">$100.00</b></div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 mb-2" b-fbnb8auet4="">
            <a href="/ProductDetails/1" b-fbnb8auet4="">
                <div class="card" b-fbnb8auet4="">
                    <img class="img-thumbnail1" src="/Images/Beauty/Beauty1.png" b-fbnb8auet4=""><!--!-->
                    <div class="card-body" b-fbnb8auet4="">
                        <h5 class="card-title mb-3" b-fbnb8auet4="">Glossier - Beauty Kit</h5><!--!-->
                        <div class="card-text" b-fbnb8auet4=""><b b-fbnb8auet4="">$100.00</b></div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 mb-2" b-fbnb8auet4="">
            <a href="/ProductDetails/1" b-fbnb8auet4="">
                <div class="card" b-fbnb8auet4="">
                    <img class="img-thumbnail1" src="/Images/Beauty/Beauty1.png" b-fbnb8auet4=""><!--!-->
                    <div class="card-body" b-fbnb8auet4="">
                        <h5 class="card-title mb-3" b-fbnb8auet4="">Glossier - Beauty Kit</h5><!--!-->
                        <div class="card-text" b-fbnb8auet4=""><b b-fbnb8auet4="">$100.00</b></div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 mb-2" b-fbnb8auet4="">
            <a href="/ProductDetails/1" b-fbnb8auet4="">
                <div class="card" b-fbnb8auet4="">
                    <img class="img-thumbnail1" src="/Images/Beauty/Beauty1.png" b-fbnb8auet4=""><!--!-->
                    <div class="card-body" b-fbnb8auet4="">
                        <h5 class="card-title mb-3" b-fbnb8auet4="">Glossier - Beauty Kit</h5><!--!-->
                        <div class="card-text" b-fbnb8auet4=""><b b-fbnb8auet4="">$100.00</b></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
